Schemas/Deployment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://github.com/XLAutoDeploy.Manifests/Schemas/Deployment.xsd" elementFormDefault="qualified" targetNamespace="https://github.com/XLAutoDeploy.Manifests/Schemas/Deployment.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Deployment">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="1" maxOccurs="1" name="AddInUri" type="xs:string" />
				<xs:element minOccurs="1" maxOccurs="1" name="TargetOfficeInstallation" type="tns:MicrosoftOfficeBitness" />
				<xs:element minOccurs="1" maxOccurs="1" name="Description" type="tns:Description" />
				<xs:element minOccurs="1" maxOccurs="1" name="Settings" type="tns:DeploymentSettings" />
				<xs:element minOccurs="1" maxOccurs="1" name="RequiredOperatingSystem" type="tns:RequiredOperatingSystem" />
				<xs:element minOccurs="1" maxOccurs="1" name="CompatibleFrameworks" type="tns:ArrayOfCompatibleFramework" />
				<xs:element minOccurs="0" maxOccurs="1" name="DigitalSignature">
					<xs:complexType mixed="true">
						<xs:sequence>
							<xs:any maxOccurs="unbounded" />
						</xs:sequence>
						<xs:anyAttribute />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="MicrosoftOfficeBitness">
		<xs:restriction base="xs:string">
			<xs:enumeration value="x32" />
			<xs:enumeration value="x64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Description">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="SupportUri" type="xs:string" />
		</xs:sequence>
		<xs:attribute use="required" name="Publisher" type="xs:string" />
		<xs:attribute use="required" name="Manufacturer" type="xs:string" />
		<xs:attribute use="required" name="Product" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="DeploymentSettings">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="DeploymentBasis" type="tns:DeploymentBasis" />
			<xs:element minOccurs="1" maxOccurs="1" name="MinimumRequiredVersion" type="xs:string" />
			<xs:element minOccurs="1" maxOccurs="1" name="MapFileExtensions" type="xs:boolean" />
			<xs:element minOccurs="1" maxOccurs="1" name="LoadBehavior" type="tns:LoadBehavior" />
			<xs:element minOccurs="1" maxOccurs="1" name="UpdateBehavior" type="tns:UpdateBehavior" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DeploymentBasis">
		<xs:restriction base="xs:string">
			<xs:enumeration value="peruser" />
			<xs:enumeration value="permachine" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="LoadBehavior">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="LoadOrder" type="xs:unsignedInt" />
		</xs:sequence>
		<xs:attribute use="required" name="Install" type="xs:boolean" />
	</xs:complexType>
	<xs:complexType name="UpdateBehavior">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="Mode" type="tns:UpdateMode" />
			<xs:element minOccurs="1" maxOccurs="1" name="RequiresRestart" type="xs:boolean" />
			<xs:element minOccurs="1" maxOccurs="1" name="RemoveDeprecatedVersion" type="xs:boolean" />
			<xs:element minOccurs="1" maxOccurs="1" name="NotifyClient" type="xs:boolean" />
			<xs:element minOccurs="1" maxOccurs="1" name="DoInRealTime" type="xs:boolean" />
			<xs:element minOccurs="0" maxOccurs="1" name="UpdateExpiration" type="tns:UpdateExpiration" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UpdateMode">
		<xs:restriction base="xs:string">
			<xs:enumeration value="normal" />
			<xs:enumeration value="forced" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="UpdateExpiration">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="UnitOfTime" type="tns:UnitOfTime" />
			<xs:element minOccurs="1" maxOccurs="1" name="MaximumAge" type="xs:unsignedInt" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="UnitOfTime">
		<xs:restriction base="xs:string">
			<xs:enumeration value="minutes" />
			<xs:enumeration value="days" />
			<xs:enumeration value="weeks" />
			<xs:enumeration value="months" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="RequiredOperatingSystem">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="Bitness" type="tns:OperatingSystemBitness" />
		</xs:sequence>
		<xs:attribute use="required" name="SupportUrl" type="xs:string" />
		<xs:attribute use="required" name="Version" type="xs:string" />
	</xs:complexType>
	<xs:simpleType name="OperatingSystemBitness">
		<xs:restriction base="xs:string">
			<xs:enumeration value="none" />
			<xs:enumeration value="x86" />
			<xs:enumeration value="x64" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ArrayOfCompatibleFramework">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="CompatibleFramework" type="tns:CompatibleFramework" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CompatibleFramework">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="SupportedRuntime" type="tns:NetClrVersion" />
			<xs:element minOccurs="1" maxOccurs="1" name="TargetVersion" type="xs:string" />
		</xs:sequence>
		<xs:attribute use="required" name="SupportUrl" type="xs:string" />
	</xs:complexType>
	<xs:simpleType name="NetClrVersion">
		<xs:restriction base="xs:string">
			<xs:enumeration value="1.0" />
			<xs:enumeration value="1.1" />
			<xs:enumeration value="2.0" />
			<xs:enumeration value="4.0" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>