Schemas/DeploymentRegistry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://github.com/XLAutoDeploy.Manifests/Schemas/DeploymentRegistry.xsd" elementFormDefault="qualified" targetNamespace="https://github.com/XLAutoDeploy.Manifests/Schemas/DeploymentRegistry.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="DeploymentRegistry">
		<xs:complexType>
			<xs:sequence>
				<xs:element minOccurs="0" maxOccurs="1" name="PublishedDeployments" type="tns:ArrayOfPublishedDeployment" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ArrayOfPublishedDeployment">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="PublishedDeployment" type="tns:PublishedDeployment" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishedDeployment">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="FileHost" type="tns:FileHost" />
		</xs:sequence>
		<xs:attribute name="ManifestUri" type="xs:string" />
	</xs:complexType>
	<xs:complexType name="FileHost">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="HostType" type="tns:FileHostType" />
			<xs:element minOccurs="1" maxOccurs="1" name="RequiresAuthentication" type="xs:boolean" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="FileHostType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="fileserver" />
			<xs:enumeration value="webserver" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>